.wrap {
  width: 100%;
}

.blog-grid {
  background: #fff;
  padding: 20px 20px 20px 20px;
  display: grid;
}

.section-blog {
  text-align: center;
}

.grid-pad {
  padding: 20px 0 0px 20px;
}

.grid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.col-1-2 {
  width: 50%;
  padding: 10px;
}

[class*="col-"] {
  float: left;
  padding-right: 10px;
}

.post-wrap {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
}

.heading-blog {
  font-size: 1.5em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 1em 0 0.5em;
}

.blog-grid .post-img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-text {
  font-size: 1em;
  text-align: left;
  line-height: 1.4em;
}

.btn-blog {
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: #77d5c8;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.blog-heading {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  padding: 10px;
}

/* Responsive styles for 768px */
@media only screen and (max-width: 768px) {
  .col-1-2 {
    width: 100%;
    padding: 10px 0;
  }
}
