.navbar {
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  height: 9.6rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}

.main-nav a {
  margin-left: 20px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.links a:hover {
  color: #666;
}

.contact-link {
  padding: 10px;
  border-radius: 9px;
  background-color: #e67e22;
}
.contact-link:hover,
.contact-link:visited {
  background-color: #e67e22;
}
