.section-contact {
  padding: 4.8rem 0 12.8rem 0;
}

.container-contact {
  background-image: linear-gradient(to right bottom, #dbf5f1, #61b1a7);
  margin: 0 auto;
  max-width: 60%;
  /* padding: 0 3.2rem; */
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  border-radius: 12px;
  overflow: hidden;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #333;
}

.cta-img-box {
  background-position: center;
  background-size: cover;
}

.cta-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.cta-form label {
  display: block;
  font-size: 1.4rem;
}
.cta-form input {
  padding: 1.4rem;
  width: 100%;
  font-size: 1rem;
  background-color: #e9faf8;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.textarea {
  width: 100%;
  padding: 2rem;
  font-size: 1.6rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  background-color: #e9faf8;
}

.btn-send {
  padding: 1.2rem;
  margin-top: 2rem;
  border-radius: 12px;
  border: none;
  background-color: #61b1a7;
  font-size: 1.6rem;
  font-weight: 500;
  width: 50%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cta {
    display: block;
  }

  .cta-text-box {
    padding: 4.8rem 2.4rem;
  }

  .cta-form input,
  .textarea {
    padding: 1.2rem;
    font-size: 1.4rem;
  }

  .btn-send {
    padding: 1rem;
    font-size: 1.4rem;
    width: 100%;
  }
}
